  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav class="<%= user? 'logged-in-nav' : '' %>">
    <div class="nav-content">
      <% if (user) { %>
        <a class="nav-links" href="/clothingItems">Your Items</a>
        <a class="nav-links" href="/clothingItems/new">Add Item</a>
        <a class="nav-links" href="/brands/new">Add Brands</a>
        <a class="nav-links" href="/colors/new">Add Colors</a>
        <a href="/auth/logout" class="right">
          <button class="btns" type="submit">Logout</button>
        </a>
      <% } %>
    </div>
  </nav>
