  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-content">
    <% if (user) { %>
      <a class="nav-links" href="/clothingItems">Your Items</a>
      <a class="nav-links" href="/clothingItems/new">Add Item</a>
      <a class="nav-links" href="/brands/new">Add Brands</a>
      <a class="nav-links" href="/colors/new">Add Colors</a>
    </div>
    <div class="g-button">
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    </div>
    <% } else { %>
    <% } %>
  </nav>
