<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/clothingitems/" 
    method="POST"
    >
    <label for="clothingitems-select">Name:</label>
    <select name="name" id="clothingitems-select">
      <option value="Tops">Tops</option>
      <option value="Bottoms">Bottoms</option>
      <option value="Outerwear">Outerwear</option>
      <option value="Shoes">Shoes</option>
      <option value="Accessories">Accessories</option>
    </select>
    <label for="favorite-checkbox">
      Favorite?
      <input 
      type="checkbox" 
      name="favorite"
      id="favorite-checkbox"
      >
    </label>
    <label for="status-select">Status:</label>
    <select name="status" id="clothingitems-status-select">
      <option value="Keep">Keep</option>
      <option value="Sell">Sell</option>
      <option value="Donate">Donate</option>
    </select>
    <button type="submit">Add Item</button>
  </form>
</main>

<%- include('../partials/footer') %>
