.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
}

.info-item-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
}

.info-item-btns {
  display: flex;
  max-width: 50%;
  min-width: 100px;
  align-items: center;
}

.info-item-details {
  max-width: 100%;
  min-width: 200px;
  margin-left: 20px;
  line-height: 30px;
}

.info-item {
  margin: 10px auto;
  min-width: 400px;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 30px;
  padding-top: 10px;
}

.clothing-items-list {
  padding-left: 0
}

.icon-top {
  display: flex;
  justify-content: center;
}

.btns {
  margin: 3px;
  padding-top: 3px;
}

span.emoji {
  font-size: 60px;
}