.icon-top {
  display: flex;
  justify-content: center;
}

#new-form {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 60px;
}