.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.icon-top {
  display: flex;
  justify-content: center;
}

.item-detail {
  max-width: 100%;
  min-width: 200px;
  line-height: 30px;
  border: 2px solid black;
  padding: 1em;
}

#edit-item-btn {
  margin:0 auto;
  display:block;
  margin-top: 15px;
  border-radius: 0px;
  text-transform: capitalize;
  font-family:'Josefin Sans', sans-serif;
}

#edit-item-btn:hover {
  background: white;
}