.icon-top {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  line-height: 30px;
  min-width: 100px;
  padding-left: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.add-on-list {
  justify-content: space-between;
  padding: 1px;
  width: 200px;
}

.icon-top {
  justify-content: center;
}

#new-brand-form {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#new-color-form {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#name-input {
  width: 150px;
  margin-right: 13px;
}