.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 0px;
  line-height: 30px;
}
.delete-btns {
  margin-left: 135px;
  margin-top: -27px;
  position: absolute;
}